.header {
    text-align: center;
    background-color: #cccccc;
}
.loading {
    text-align: center;
    font-weight: 500;
}

.header button, .header input {
    margin: 5px;
    padding: 5px;
}

.studentsContainer {
    margin: 10px auto;
    max-width: 900px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center
}

.studentCard {
    border: 1px solid #cccccc;
    width: 250px;
    float: left;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.studentCard:hover {
    box-shadow: inset 0 0 7px;
    transition: box-shadow .5s;
}